body {
    font-family: Arial, sans-serif; /* Default font */
    background-color: #f8f9fa; /* Light gray background */
}

.navbar {
    background-color: #f8f9fa; /* Match the body background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030; /* Higher z-index ensures it stays on top of other content */
}



.navbar-nav .nav-link:hover {
    color: #0056b3!important;
    text-decoration: none;
}

h1 {
    font-size: 24px; /* Large font size for name */
    color: #333; /* Dark gray for text */
}

p {
    color: #666; /* Medium gray for text */
}

img {
    max-width: 100%; /* Responsive image */
    height: auto;
}

.active{
    color: #0056b3!important;
    
}

.progress-container {
    width: 100%;
    height: 1px;  /* You can adjust the height as needed*/
    background: rgb(102, 102, 102);  /* Initial background color*/
    position: fixed;
    top: 56px;  /*Adjust this value based on the height of your navbar*/
    z-index: 9999;
}

.progress-bar {
    height: 1px;
    background: linear-gradient(to right, #0056b3, #0056b3);  
    width: 0%;
    transition: width 0.2s, background-color 0.5s ease;  
}

.virginia-tech-link {
    color: #0056b3; /* Sets the text color to blue */
    text-decoration: none; /* Optional: removes the underline from links */
}
a{
    color: #0056b3;   
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.virginia-tech-link:hover {
    text-decoration: underline; /* Re-adds underline on hover for better user interaction */
}
p {
    text-align: justify;
    text-justify: inter-word; /* Improves spacing between words */
}

.card-img-top {
    width: 100%; /* ensures the image takes the full width of the card */
    height: 100%; /* makes the image take the full height of the card */
    object-fit: cover; /* cover ensures the image covers the area without distorting the aspect ratio */
    object-position: center; /* centers the image within the card area */
}

.card {
    overflow: hidden; /* ensures any oversized parts of the image are not visible outside the card */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
}

.card:hover {
    transform: translateY(-5px); /* Slightly raise the card */
    box-shadow: 0 4px 8px #0056b3; /* Enhanced shadow for lifting effect */
  cursor: pointer;
}

.social-icons {
    text-align: center;
    font-size: 32px; /* Adjust size as needed */
    margin-top: 5px;
}

.social-icon {
    margin: 0 10px;
    color: #666; /* Default icon color */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-icon:hover {
    color: #0056b3; /* Color changes to green on hover */
    text-decoration: none;
}
.footer {
    text-align: center; /* Center the text inside the footer */
    padding: 10px 20px; /* Padding for spacing inside the footer */
    width: 100%; /* Ensures the footer takes full width of the screen */
    font-size: 14px; /* Smaller font size for footer text */
    border-top: 1px solid #666; /* Slightly lighter border top for a subtle contrast */
}
.timeline-badge {
    color: white;
    display: inline-block;
    background-color: #0056b3;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    border-radius: 5px;
}
/* Load FontAwesome Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
